## UNData API Exercise

In this exercise, you'll redo the data gathering phase of the UNData Exploration project by using APIs instead of downloading csv files.

You'll make use of the [World Bank Indicators API](https://datahelpdesk.worldbank.org/knowledgebase/articles/889392-about-the-indicators-api-documentation). Note that this API does not require an API key. Before attempting the exercise, it would be a good idea to skim through the Documentation page and to check out the [Basic Call Structure article](https://datahelpdesk.worldbank.org/knowledgebase/articles/898581).

In [2]:
import requests
import pandas as pd

1. Use the API to get all available data for the _GDP per capita, PPP (constant 2017 international $)_ indicator. Hint: this indicator has code "NY.GDP.PCAP.PP.KD". Adjust the query parameters so that you can retrieve all available rows. Convert the results to a DataFrame.

In [4]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/NY.GDP.PCAP.PP.KD?format=json'

response = requests.get(endpoint)

In [5]:
response

In [6]:
# response.text

In [7]:
res = response.json()
# res

In [8]:
capita_df = pd.json_normalize(res[1])

capita_df.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
1,AFE,2023,3967.860937,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
2,AFE,2022,3974.803045,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
3,AFE,2021,3934.287267,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern
4,AFE,2020,3861.111238,,,0,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2021 internation...",ZH,Africa Eastern and Southern

In [9]:
cleaned_capita_df = pd.DataFrame({
    'country': capita_df['country.value'],
    'country_code': capita_df['countryiso3code'],
    'year': capita_df['date'],
    'gdp_per_capita': capita_df['value']
})

cleaned_capita_df.head()

                       country country_code  year  gdp_per_capita
0  Africa Eastern and Southern          AFE  2024             NaN
1  Africa Eastern and Southern          AFE  2023     3967.860937
2  Africa Eastern and Southern          AFE  2022     3974.803045
3  Africa Eastern and Southern          AFE  2021     3934.287267
4  Africa Eastern and Southern          AFE  2020     3861.111238

2. Now, use the API to get all available data for _Life expectancy at birth, total (years)_. This indicator has code "SP.DYN.LE00.IN". Again, convert the results to a DataFrame.

In [11]:
endpoint = 'https://api.worldbank.org/v2/country/all/indicator/SP.DYN.LE00.IN?format=json'

response = requests.get(endpoint)

In [12]:
res = response.json()
# res

In [13]:
life_exp_df = pd.json_normalize(res[1])
life_exp_df.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2024,NaN,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
1,AFE,2023,65.146291,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
2,AFE,2022,64.487020,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
3,AFE,2021,62.979999,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern
4,AFE,2020,63.766484,,,0,SP.DYN.LE00.IN,"Life expectancy at birth, total (years)",ZH,Africa Eastern and Southern

In [14]:
cleaned_life_exp_df = pd.DataFrame({
    'country': capita_df['country.value'],
    'country_code': capita_df['countryiso3code'],
    'year': capita_df['date'],
    'life_expectancy': capita_df['value']
})

cleaned_life_exp_df.head()

                       country country_code  year  life_expectancy
0  Africa Eastern and Southern          AFE  2024              NaN
1  Africa Eastern and Southern          AFE  2023      3967.860937
2  Africa Eastern and Southern          AFE  2022      3974.803045
3  Africa Eastern and Southern          AFE  2021      3934.287267
4  Africa Eastern and Southern          AFE  2020      3861.111238

3. Merge the two results DataFrames together. You may want to rename or drop columns prior to merging.

In [16]:
merged_df = pd.merge(cleaned_capita_df, cleaned_life_exp_df, on=['country', 'country_code', 'year'], how='inner')
merged_df.head()

,country,country_code,year,gdp_per_capita,life_expectancy
0,Africa Eastern and Southern,AFE,2024,NaN,NaN
1,Africa Eastern and Southern,AFE,2023,3967.860937,3967.860937
2,Africa Eastern and Southern,AFE,2022,3974.803045,3974.803045
3,Africa Eastern and Southern,AFE,2021,3934.287267,3934.287267
4,Africa Eastern and Southern,AFE,2020,3861.111238,3861.111238

4. You can also get more information about the available countries (region, capital city, income level classification, etc.) by using the [Country API](https://datahelpdesk.worldbank.org/knowledgebase/articles/898590-country-api-queries). Use this API to pull in all available data. Merge this with your other datasets. Use this to now remove the rows that correspond to regions and not countries.

### **Bonus Questions:** After doing a basic request to get all records, you can attempt these exercises to get additional practice using query parameters.

1. Adjust your request so that it returns data just for the United States.

2. Adjust your request so that it returns data just for the United States for the year 2021.

3. Adjust your request so that it returns data just for the United States for the years 2000 through 2021.

4. Adjust your request so that it returns data for the United States and Canada for the years 2000 through 2021.

5. If you haven't already done so and you would like to get some additional practice using loops, use the page parameter in order to pull all records. Do not change the value of the per_page parameter. You will likely need to utilize a loop of some kind in order to pull all records.

6. The endpoint "http://api.worldbank.org/v2/indicator" will return information about all available indicators. See [Indicator API Queries](https://datahelpdesk.worldbank.org/knowledgebase/articles/898599-indicator-api-queries). Use this endpoint to find the code for the "Public Expenditure on Education (% GDP)" indicator.